{% extends "base.html" %}

{% block title %}{{ document.title }}{% endblock %}


{% block extra_head %}{{ block.super }}
        <style type="text/css">
          body {  }
          #main {  position: absolute;
            width: 100%;  height: 100%;
          }

          #area {
            width: 80%; height: 80%;
            margin: 5% auto;
            max-width: 1250px;
          }

          #area iframe {  border: none;  }
          #prev { left: 40px; }
          #next {   right: 40px;  }

          .arrow {
            position: absolute;
            top: 50%;
            margin-top: -32px;
            font-size: 64px;
            color: #E2E2E2;
            font-family: arial, sans-serif;
            font-weight: bold;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
          .arrow:hover {  color: #777;  }
          .arrow:active { color: #000; }

          #next-page { float: right;}
          #prev-page { float: left;}
          #title { text-align: center;}
        </style>
{% endblock %}

{% block content %}
<div id="title">{{ document.title }}: <span id="pub_title"></span></div>
<div id="next-page"><a href="">next</a></div>
<div id="prev-page"><a href="">prev</a></div>
<div id="area"></div>
{% endblock %}


{% block extra_js %}{{ block.super }}
<script src="{{ STATIC_URL }}django_read/js/epub/libs/zip.min.js"></script>
<script src="{{ STATIC_URL }}django_read/js/epub/epub.min.js"></script>
<script>
"use strict";
$(function() {
	EPUBJS.filePath = "{{ STATIC_URL }}django_read/js/epub/libs/";
    var Book = ePub("{{ MEDIA_URL }}{{ document.resource }}");
    Book.renderTo("area");

    $('#next-page').click(function() {
    	Book.nextPage();
    	return false;
    });

    $('#prev-page').click(function() {
    	Book.prevPage();
    	return false;
    });

	Book.getMetadata().then(function(meta){
	    $("#pub_title").html(meta.bookTitle+" – "+meta.creator);
    });

});
</script>
{% endblock %}